@using Juices.DAL
@using JuicesMvc.Models
@model IEnumerable<Juices.DAL.Product>

@{
	ViewBag.Title = "Продукты";
}

<h2>Продукты</h2>

@*TODO Find out how DisplayFor... works how it converts IEnumerable*@
<table class="table">
	<thead>
		<tr>
			<th>@Html.DisplayNameFor(model => model.Name)</th>
			<th>@Html.DisplayNameFor(model => model.Description)</th>
			<th>@Html.DisplayNameFor(model => model.Contents)</th>
			<th>Управление</th>
		</tr>
	</thead>
	<tbody>
		<!-- ko foreach: entities -->
		<!-- ko template: {name: 'product' + template() } -->
		<!-- /ko-->
		<!-- /ko -->
		<tr>
			<td colspan="4">
				<button class="btn btn-default" data-bind="click: add">
					<span class="glyphicon glyphicon-plus"></span> Добавить
				</button>
			</td>
		</tr>
	</tbody>
</table>

<pre data-bind="text: ko.toJSON($root, null, 2)"></pre>

@section scripts {
	<script id="productView" type="text/html">
		<tr>
			<td data-bind="text: Name"></td>
			<td data-bind="text: Description"></td>
			<td data-bind="foreach: Contents">
				@*<!-- ko text: Chemical.Name --> <!-- /ko -->*@
			</td>
			<td>
				<button class="btn btn-default" data-bind="click: edit ">
					<span class="glyphicon glyphicon-pencil"></span>
				</button>
				<button class="btn btn-default" data-bind="click: $parent.delete">
					<span class="glyphicon glyphicon-remove"></span>
				</button>
			</td>
		</tr>
	</script>

	<script id="productEdit" type="text/html">
		<tr>
			<td>
				<input type="text" data-bind="value: Name, aspnetIndexedName: 'Name'" class="form-control" />
			</td>
			<td>
				<input type="text" data-bind="value: Description, aspnetIndexedName: 'Description'" class="form-control" />
			</td>
			<td>
				<input type="text" data-bind="ko_tokenInput: Contents,
					settings: {
						url: '@Url.Action("Search", "Chemicals")'
					}
				" />
			</td>
			<td>
				<button class="btn btn-default" data-bind="click: $parent.save ">
					<span class="glyphicon glyphicon-ok"></span>
				</button>
				<!-- ko if: Id() != -1 -->
				<button class="btn btn-default" data-bind="click: cancelEdit ">
					<span class="glyphicon glyphicon-ban-circle"></span>
				</button>
				<!-- /ko-->
				<button class="btn btn-default" data-bind="click: $parent.delete">
					<span class="glyphicon glyphicon-remove"></span>
				</button>
			</td>
		</tr>
	</script>

	<script language="javascript">
		var model = @Html.Raw(Json.Encode(Model));
		var defaultEntity = @Html.Raw(Json.Encode(Product.GetDefault()));

		var actions = {
			'update': '@Url.Action("Edit")',
			'delete': '@Url.Action("Delete")'
		};

		var viewModel = new $$.ui.editor.EntityListViewModel(actions, model, defaultEntity);
		ko.applyBindings(viewModel);
	</script>
}
