@using Juices.DAL
@model IEnumerable<Product>

@{
	ViewBag.Title = "Продукты";
}

<h2>Продукты</h2>

@*TODO Find out how DisplayFor... works how it converts IEnumerable*@
<table class="table">
	<thead>
		<tr>
			<th>Название</th>
			<th>Описание</th>
			<th>Состав</th>
			<th>Управление</th>
		</tr>
	</thead>
	<tbody>
		<!-- ko foreach: entities -->
		<!-- ko template: {name: 'product' + template() } -->
		<!-- /ko-->
		<!-- /ko -->
		<tr>
			<td colspan="4">
				<button class="btn btn-default" data-bind="click: add">
					<span class="glyphicon glyphicon-plus"></span> Добавить
				</button>
			</td>
		</tr>
	</tbody>
</table>

<pre data-bind="text: ko.toJSON($root, null, 2)"></pre>

@section scripts {
	<script id="productView" type="text/html">
		<tr>
			<td data-bind="text: Name"></td>
			<td data-bind="text: Description"></td>
			<td data-bind="text: ContentList">
			</td>
			<td>
				<button class="btn btn-default" data-bind="click: edit ">
					<span class="glyphicon glyphicon-pencil"></span>
				</button>
				<button class="btn btn-default" data-bind="click: $parent.delete">
					<span class="glyphicon glyphicon-remove"></span>
				</button>
			</td>
		</tr>
	</script>

	<script id="productEdit" type="text/html">
		<tr>
			<td>
				<input type="text" data-bind="value: Name, aspnetIndexedName: 'Name'" class="form-control" />
			</td>
			<td>
				<input type="text" data-bind="value: Description, aspnetIndexedName: 'Description'" class="form-control" />
			</td>
			<td>
				<input type="text" data-bind="ko_tokenInput: Contents,
					settings: {
						url: '@Url.Action("Search", "Chemicals")',
						customMapping: contentTokenInputMapping
					}
				" />
			</td>
			<td>
				<button class="btn btn-default" data-bind="click: $parent.save ">
					<span class="glyphicon glyphicon-ok"></span>
				</button>
				<!-- ko if: Id() != -1 -->
				<button class="btn btn-default" data-bind="click: cancelEdit ">
					<span class="glyphicon glyphicon-ban-circle"></span>
				</button>
				<!-- /ko-->
				<button class="btn btn-default" data-bind="click: $parent.delete">
					<span class="glyphicon glyphicon-remove"></span>
				</button>
			</td>
		</tr>
	</script>

	<script language="javascript">
		var model = @Html.Raw(Json.Encode(Model));
		var defaultEntity = @Html.Raw(Json.Encode(Product.GetDefault()));

		var actions = {
			'update': '@Url.Action("Edit")',
			'delete': '@Url.Action("Delete")'
		};

		var contentTokenInputMapping = {
			to: function(item) {
				return {
					Id: -1,
					Chemical: item
				};
			},
			from: function(item) {
				return item.Chemical;
			}
		};

		var options = {
			customDtoMapping: {
				'Contents': function(contents) {
					return contents().map(function(content) {
						return { Id: content.Id, ChemicalId: content.Chemical.Id };
					});
				}
			},
			addProperties: function(item) {
				item.ContentList = ko.computed(function() {
					if (this.Contents)
						return ko.toJS(this.Contents).map(function(item) {
							if (item.Chemical)
								return item.Chemical.Name;
							return "";
						}).join();
					return "";
				}, item);
			}
		};

		var viewModel = new $$.ui.editor.EntityListViewModel(actions, model, defaultEntity, options);
		ko.applyBindings(viewModel);
	</script>
}
